<mat-card>
    <h1 class="mt10 ml10">Add New Category</h1>
    <!-- {{category|json}} -->
    <mat-card-content>
       <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input 
                            required
                            [(ngModel)]='category.title'
                            type="text" name="title" matInput placeholder="Enter Here">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea 
                           
                            [(ngModel)]='category.description'
                            type="text" 
                            name="description" 
                            matInput
                             placeholder="Enter category description"
                             rows="5"></textarea>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color="accent">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       </div>
    </mat-card-content>
</mat-card>
